{% extends "layout.html" %}

{% block title %}{{ data.name}} {% endblock %}

{% block content %}
<div class="container" style="width:100%;">

  <nav class="navbar">
    <div class="navbar-header">
      
    <span class="navbar-brand">{{ config.APPNAME }}</span>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">home</a></li>
      <li><a href="/{{pager.prev}}">&larr;</a> </li>
      <li><a href="/{{pager.next}}">&rarr;</a> </li>
      {% include 'links.html' %}
    </ul>
  </nav>

  <div class="row">
    <form id="searchForm" class="navbar-form navbar-left" name="searchForm">
      <div class="form-group">
        <input id="searchTextBox" type="text" name="searchTextBox" class="form-control" placeholder="What do you want to see?">
      </div>
      <a href=# id="goButton"><button class='btn btn-default'>Submit</button></a>
    </form>
  </div>

  <div class="row" >
      <div>
        <p style="margin-left:40px;" id="queryStringDisplay"><strong>Query String:</strong> {{searchQueryString}}</p>
      </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <img src="{{ url_for('static', filename='images/'+data.name+'.jpg') }}" class="img-responsive center-block" alt="">
    </div>
    <div class="col-md-6">
      <h2>{{data.name}}</h2>
      {% include 'table.html' %}
    </div>
  </div>

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
var imgData = null;

$(function(){
    $('#goButton').on('click', function(){
        console.log($('#searchTextBox').val());
        document.getElementById("queryStringDisplay").innerHTML = "<p style=\"margin-left:40px;\" id=\"queryStringDisplay\">Sending Req...</p>";
        $.ajax({
            url: '/goto',
            type: 'POST',
            data: {queryStr:$('#searchTextBox').val()},
            success: function(data) {
                console.log(data);
                $('#queryStringDisplay').html( JSON.stringify( data ) );
                $('#queryStringDisplay').html("<p style=\"margin-left:40px;\" id=\"queryStringDisplay\">SUCCESS</p>");

            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});
</script>
{% endblock %}